<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>${title}</title>
</head>

<body>
	
    <h2>Error: $status</h2>

    <p>
        ${title}
    </p>
    <p>
        Oops! Something's gone ${status == 500 and 'horribly, horribly ' or ''}wrong. Perhaps heading back to the <a href="${tg.url('/')}">homepage</a> might help, or if not, please <a href="${tg.url('/contact')}">contact me</a>.
    </p>

</body>
</html>
