<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"> <xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Log in</title>
</head>

<body>
    
    <p></p>
    <div class="content">
        <h3>Log in</h3>

        <form method="POST" action="">
        ${ form.hidden_tag() }
        <p>${ form.username.label } ${ form.username(size=20) }</p>
        <p>${ form.password.label } ${ form.password(size=20) }</p>
        <p>${ form.remember_me() } ${ form.remember_me.label }</p>
        <p>${ form.submit() }</p>
        </form>

    </div>


</body>
</html>
