<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>${title} - Recipes</title>
</head>

<body>

<p class="recipeback"><a href="${tg.url('/recipes')}">&#171; Back to recipes</a></p>
<h2 class="recipe${vegetarian and ' vegetarian' or ''}">${title}</h2>
<div class="recipedesc">
    <img src="${tg.url(image)}" alt="Image of ${title}" class="recipeimage" width="200" height="200" />
    <p py:if="editable">
        <a href="${url_for('.edit')}?id=${id}">Edit</a>
    </p>
    <p py:if="prephours or prepmins">
        Preparation time:
        <span py:if="prephours">$prephours hours</span><span py:if="prephours and prepmins">,</span>
        <span py:if="prepmins">$prepmins minutes</span>
    </p>
    <p>
        Cooking time:
        <span py:if="cookhours">$cookhours hours</span><span py:if="cookhours and cookmins">, </span>
        <span py:if="cookmins">$cookmins minutes</span>
        <span py:if="not (cookhours or cookmins)">None</span>
    </p>
    <p py:if="serves">
        Serves: $serves
    </p>
    <p>
        Source: <a href="${sourceurl}" py:strip="not sourceurl">$source</a>
    </p>
    <p py:if="notes" class="recipenotes">${Markup(notes)}
    </p>
</div>

<div class="recipetable">
    <div class="recipeingredients">
        <div class="recipeheader">
            Ingredients
        </div>
        <py:for each="group in ingredients">
        <ul>
    	<p py:if="group.title">${group.title}</p>
            <li py:for="ingredient in group">${ingredient}</li>
        </ul>
        </py:for>
    </div>
    <div class="recipemethod">
        <div class="recipeheader">
            Method
        </div>
        <py:for each="group in method">
    	<p py:if="group.title">${group.title}</p>
        <ol>
            <li py:for="line in group">${line}</li>
        </ol>
        </py:for>
    </div>
</div>

</body>
</html>
